* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1rem;
}

.main-search-detail h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 0 4px 0;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

.overview-data p {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.search-img-container img {
    width: 94px;
    height: 141px;
}